*{
    margin: 0;
    padding: 0;
}



p1 {
    font-size: 40px;
}

.topbar {


    margin: auto;
    width: 100%;
    max-width: 80vw;
    margin-bottom: 10px

    
    
    
}

.main_container {
    height: auto;
    padding: 0 10px;
    
}

.side_margin {
    margin: 0 50px;
}

.image_box {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    gap: 10px 20px;


}

.image_box > div {

    width: auto;
    height: 28vh;

    font-size: 50px;
    text-align: center;

    
    background-color: rgb(0, 128, 0);
    border-radius: 12px;


    padding: 6px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.538));
    transition: 1s;
    
    
    


}


@media screen and ( max-width:600px){
    .main_container {
        width: auto ;
        margin: auto;
    }
    .topbar{
        padding: 10px 0;
        height: 12vh;
        width: 100%;
        max-width: 100%;
    }
    .side_margin {
        margin: 0 2vw;
    }

    .image_box {
        flex-direction: column;
    
    
    }
    .image_box > div {
        max-width: 100%;
    }
    
}

@media screen and ( min-width:600px) and (max-width:1200px){
    .main_container {
        width: auto;
        margin: auto;
        max-width: 1000px;

    }
    .topbar{
        padding: 12px 0;
        height: 10vh;
        width: 500px;
    }

    
}

@media screen and ( min-width:1200px) and (max-width:2400px){
    .main_container {
        max-width:  1400px;
        margin: auto;
    }
    .topbar{
        padding: 18px 0;
        height: 10vh;
        width: 800px;
    }

    
}

@media screen and ( min-width:2400px){
    .main_container {
        max-width: 3000px;
        
        margin: auto;
    }
    .topbar{
        padding: 20px 0;
        height: 10vh;
        width: 2000px;
    }

    
}

html, body {
    height: 100%;
    width: 100%;
}


.border_radius_large {
    border-radius: 10vh;
}

.topbar input {
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 100%;
    display: block;
    
    
    font-size: 1.6em;
    
    padding: 10px;
    border-radius: 4vh;

}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(96, 161, 96);
}





.image_box > div:hover {
    background-color: black;
    transform: scale(1.05);
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    border-radius: 10px;
    height: 100%;

    
    
}