*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

p1 {
    font-size: 40px;
}
p4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.side_margin {
    margin: 0 50px;
}

/*Containers*/
#main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(96, 161, 96);
}
#topbar {
    display: flex;

    box-sizing: content-box;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


    width: 100%;
    margin-bottom: 10px;
    height: auto;

}
.main_container {
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Topbar*/
#search_top {
    flex: auto;

    position: relative;
    text-align: center;
    height: 2em;
    width: 10em;
    display: block;

    font-size: 1.6em;
    
    padding: 10px 28px;
    border-radius: 4vh;

}
.top_button_container {
    flex: 1;
    display: flex;
    

}
.dropdown_button {
    justify-self: right;
    width: 4em;
    height: 2em;

    background-color: rgb(140, 86, 86);
    
}



select {
    outline: none;
    background-color: rgb(153, 219, 142);
    border-radius: 10px;
    height: 60px;
}

.custom_select {
    cursor: pointer;
    width: 40px;
}


/*Container for image and image design*/
.image_box {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    flex-direction: row;
    gap: 10px 20px;
}
.image_box > div {

    width: auto;
    height: 24vh;

    font-size: 50px;
    text-align: center;

    background-color: rgb(0, 128, 0);
    border-radius: 12px;
    padding: 6px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.538));
    transition: 0.4s;


}
.image_box > div:hover {
    background-color: black;
    transform: scale(1.05);
}


/*Popup container*/
.large_box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding: 0 4vw;

    max-width: 80%;
    min-height: 20vh;
    height: 80vh;
    background-color: rgb(80, 118, 80);
    position: fixed;
    justify-self: center;
    justify-content: center;
    top: 10vh;
    z-index: 100;
    box-shadow: 0 0 0 max(100vw, 100vh) rgba(0, 0, 0, 0.3);
    
}
.text_image_container {
    width: 80%;
    height: 8rem;
    margin: 10px auto;
    background-color: brown;

}
.large_box > img {
    display: block;
    max-height: 60%;

    object-fit: contain;
}



@media screen and ( max-width:600px){
    #topbar{
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        
        
    }
    #search_top {
        width: 100%;
        flex: 100%;
        height: 4rem;
    }

    .top_button_container {
        flex: 0;
        order: 2;
    }

    .main_container {
        width: auto ;
        margin: auto;
    }

    .side_margin {
        margin: 0 2vw;
    }


    .image_box > div {
        max-width: 100%;
    
    }
    .large_box {
        max-width: 95%;
        top:14vh;
    }
    * {
        font-size: 20px;
    }
}

@media screen and ( min-width:600px) and (max-width:1200px){
    .main_container {
        width: auto;
        margin: auto;
        max-width: 1000px;
    }
    .topbar{
        padding: 12px 0;
        height: 10vh;
        width: 500px;
    }
}

@media screen and ( min-width:1200px) and (max-width:2400px){
    .main_container {
        max-width:  1400px;
        margin: auto;
    }
    #topbar{
        padding: 18px 0;
        height: 10vh;
    }
    * {
        font-size: 28px;
    }
}

@media screen and ( min-width:2400px){
    .main_container {
        max-width: 3000px;
        
        margin: auto;
    }
    #topbar{
        padding: 20px 0;
        height: 10vh;

    }

    * {
        font-size: 50px;
    }
    
}

html, body {
    height: 100%;
    width: 100%;
}


.border_radius_large {
    border-radius: 6vh;
}


img {
    display: block;
    max-width: 100%;
    width: auto;
    border-radius: 10px;
    height: 100%;

    
    
}

